<!--采用container-fluid，使得整个页尾的宽度为100%，并设置它的背景色-->
<footer class="container-fluid foot-wrap">
    <!--采用container，使得页尾内容居中 -->
    <div class="container">
        <div class="row">
            <div class="row-content col-lg-12 col-sm-12 col-xs-12 text-center">
                <h3></h3>
                <ul class="list-inline">
                    <li><a href="#">用户手册</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li>QQ群:<a>12345678</a></li>
                    <li>微信群：<a>12345678</a></li>
                    <li>电话：<a>0745-1234567</a></li>
                    <li>邮箱：<a>HookDing02@("@")outlook.com</a></li>
                </ul>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container-->
    <p align="center" style="margin-top: 20px;color:#878B91;">
        Copyright &copy;2022 HookDing
    </p>
</footer>
