@model List<MVC_GP.Models.Hot>
@{
    ViewBag.Title = "管理员";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="jumbotron bg-black" style="color:white;">
                <div class="container">
                    <h1>欢迎来到管理页面！</h1>
                    <p>请选择上方选项以管理</p>
                    <p>
                        <a class="btn btn-primary btn-lg pull-right" role="button" href="">
                            学习更多
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>